@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Tinos:wght@400;700&family=Lilita+One&display=swap");

:root {
  --primary-color: #0060e3;
  --primary-deep: #001531;
  --text-black: #37404c;
  --text-light: #61728a;
  --body-color: #fafafa;
  --text-white: #fff;

  --heading-1: 60px;
  --heading-2: 45px;
  --heading-3: 30px;
  --heading-4: 22px;

  --bold: 700;
  --medium: 500;
  --base: 400;
  --light: 300;

  --heading: "Lilita One", sans-serif;
  --body: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body);
}

body {
  background: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

.highlight {
  color: var(--primary-color);
  opacity: 0.7;
}
